
<h3 align="center">Registro numero: <%= @manage_user.id %></h3>
<p>
  <strong>Usuario:</strong>
  <%= @manage_user.user.first_name %><br/>
  <strong>Rol:</strong>
  <%= @manage_user.rol.name %>
 
</p>

<%= link_to 'Editar', edit_manage_user_path(@manage_user), class: 'btn btn-primary' %> 
<%= link_to 'Atras', manage_users_path, class: 'btn btn-default' %>
