<p id="notice"><%= notice %></p>

<h1>Listado de Usuarios</h1>
<%= will_paginate %>
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Email</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.picture, size:'40x40') %></td> 
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td class="col-md-4 btn-group" role="group" aria-label="...">
          <%= link_to image_tag('Options/show.png'), user, :class => 'btn btn-link', :title => "Mostrar" %>
          <% if user == current_user || current_user.admin %>
            <%= link_to image_tag('Options/edit.png'), edit_user_path(user), :class => 'btn btn-link', :title => "Editar" %>
            <%= link_to image_tag('Options/delete.png'), user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-link', :title => "Eliminar" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
<%= will_paginate %>
