<!--Version para navegadores de escritorio-->
<div class="oculto-en-moviles">
  <h1 class="title">Listado de Usuarios</h1>
  <%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  Buscar:
  <%= text_field_tag :search, params[:search], :placeholder => "Buscador Profesiones Usuarios" %>
  <%= submit_tag "Consultar", :name => nil %>
  <% end %>
  <% end %>
  <br />

    <div class="panel-body">
    </div>
    <table class="table table-hover" id="task-table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= link_to image_tag('Options/new.png'),  new_user_path,  :remote => true, :rel => "tooltip", :title => "Ingresar nueva Profesión", :class => "btn btn-link boton-oculto-moviles " %>

</div>
<br />
<br />
<div align="center">
  <%= will_paginate @users, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
  &raquo;' %>
</div>
<div align="center">
  Total users : <%= @users.total_entries %>
</div>