<%= image_tag @user.picture.url if @user.picture? %>
<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if logged_in? %>
  <% if @user == current_user || current_user.admin %>
    <%= link_to 'Editar', edit_user_path(@user) %> |
  <% end %>
  <% if @user != current_user %>
    <%= link_to 'Send message', new_message_path(:user => @user.id) %>|
  <% end %>
<% end %>
<%= link_to 'Atras', users_path %>
