<div class="show">
<%- model_class = Product -%>
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.lazybox.close()">&times;</button>
<div class="page-header">
  <h3 align="center">Datos de <%= @product.name %></h3>
  <table class="table table-bordered table-hover" >
    <thead>
      <tr class="active">
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Stock</th>
        <th>Referencia</th>
        <th>Tipo Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Nuevo / Usado</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p><%= truncate(@product.name, :length => 20) %></p></td>
        <td><p><%= truncate(@product.description, :length => 20)  %></p></td>
        <td><p><%= @product.stock %></p></td>
        <td><p><%= @product.reference %></p></td>
        <td><p><%= @product.type_product_id %></p></td>
        <td><p><%= @product.quantity %></p></td>
        <td><p><%= @product.unit_price %></p></td>
        <td><p><%= @product.label_new_used %></p></td>
        <td><p><%= @product.total %></p></td>
      </tr>
    </tbody>
  </table>

  
    <h3 class="comment-section-header">Preguntas:</h3>
    <!-- renders the _comment.html.erb partial file. -->
    <p><%= render @product.comments %></p>

    <h3 class="reply-to-msg">Escribe tu Pregunta:</h3>
    <!-- renders the comments form -->
    <%= render 'comments/form' %>
  
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" onclick="$.lazybox.close()">Cerrar</a>
  </div>
</div>
</div>