<p id="notice"><%= notice %></p>

<h1>Listado Productos</h1>
<%= will_paginate %>
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Titulo</th>      
      <th>Precio</th>
      <th>Estado Articulo</th>
      <th>Cantidad</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_file, size:'40x40') %></td> 
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td></td>
        <td></td>
        <td class="col-md-4 btn-group" role="group" aria-label="...">
        <%= link_to image_tag('Options/show.png'), product, :class => 'btn btn-link', :title => "Mostrar" %>
        <% if logged_in? %>
          <% if current_user.products.include?(product) || current_user.admin %>
              <%= link_to image_tag('Options/edit.png'), edit_product_path(product), :class => 'btn btn-link', :title => "Editar" %>
              <%= link_to image_tag('Options/delete.png'), product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-link', :title => "Eliminar" %>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate %>
<%= link_to image_tag('Options/new.png'), new_product_path, :title => "Nuevo" %>
