<td><%= link_to image_tag(@product.avatar, size:'40x40'), @product, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link' %></td> 

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @product.reference %>
</p>

<p>
  <strong>Tipo Producto:</strong>
  <%= @product.type_product_id %>
</p>

<p>
  <strong>Estado Producto:</strong>
  <%= @product.state_product %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Precio Por unidad:</strong>
  <%= @product.unit_price %>
</p>


<p>
  <strong>Nuevo / Usado:</strong>
  <%= @product.new_used %>
</p>

<p>
  <strong>Total:</strong>
  <%= @product.total %>
</p>

<%= link_to 'Atras', products_path %>
