<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= truncate(@product.description, length: 20) %>
</p>

<p>
  <strong>Image file:</strong>
  <td><%= image_tag(@product.image_file, size:'40x40') %></td> 
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @product.user.first_name %>
</p>
<% if logged_in? %>
  <% if current_user.products.include?(@product) || current_user.admin %>
<%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
<% end %>
<%= link_to 'Back', products_path %>
